[submodule "extra-deps/inline-js"]
	path = extra-deps/inline-js
	url = https://github.com/tweag/inline-js.git
[submodule "extra-deps/semantic"]
	path = extra-deps/semantic
	url = git@github.com:Jakobeha/semantic.git
[submodule "extra-deps/kind-generics"]
	path = extra-deps/kind-generics
	url = https://gitlab.com/trupill/kind-generics.git
