# Stack
.stack-work/
treescript.cabal
*~

# Rust
target

# TypeScript / node.js
node_modules

# VS Code
.history
.vscode
.vscode-test
.jshintrc

# RStudio
.Rproj.user

# Mac
.DS_Store

# Other
unused
